.add-list {
  position: relative;

  &__popup {
    position: absolute;
    width: 240px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    left: -1000px;
    top: 40px;
    transition: 0.4s;
    .button {
      width: 100%;
      margin-top: 15px;
    }
    &-close-btn {
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
    }
    &-colors {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
    }

    .badge {
      width: 20px;
      height: 20px;
      cursor: pointer;
      border: 2px solid transparent;
      &.active {
        border: 2px solid #525252;
      }
    }
  }
  &__popup.active {
    left: 0px;
  }
}
